body{
    font-family: Arial;
    text-align:center;
}

.product-container{
    display:flex;
    justify-content:center;
    gap:20px;
}

.card{
    border:1px solid black;
    padding:20px;
    width:200px;
}

button{
    padding:10px;
    cursor:pointer;
}